<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VideoBackGround.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E0E045051C8FB4E700E0B48A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0E0451E1C8FB4E700E0B48A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0E045291C8FB4E800E0B48A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
