<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GradientTableViewCell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E0FA747E1C8FF69D00E4D705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0FA74921C8FF69D00E4D705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0FA749D1C8FF69D00E4D705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
