<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Timer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E098D69A1C75A795005CAB4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E098D6AE1C75A796005CAB4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E098D6B91C75A796005CAB4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
